<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let recipe of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-primary">{{recipe.name}}</h4>
        <p class="list-group-item-info">{{recipe.description}}</p>
      </div>
      <div class="pull-right">
        <img [src]="recipe.imagePath" alt="" style="max-height: 50px;" />
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
